/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Inika&family=La+Belle+Aurore&family=Montserrat:wght@200;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #fff8e1;
  font-family: "inika";
}

.background {
  background: url("./assets/bgphoto/Home.png") center/cover no-repeat;
}

.custom-box-shadow {
  box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.3),
    -50px -50px 100px 0px rgba(0, 0, 0, 0.3);
}
